@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #F6F6F6;
}
.copyright::after {
  content: ' | '; 
  font-weight: 600;
}
.mr-2-3{
  margin-right: 2.3rem;
}

.customInput input[type="radio"]:checked + label {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: white;
  }

  .error {
    color: red;
    font-size: 2rem;
  }
  
